# Database (SENSITIVE)
database.sqlite
database.sqlite-journal

# Uploads & Assets
public/uploads/*
!public/uploads/.gitkeep

# Backups
backups/*
!backups/.gitkeep

# Project Specific
tmp_migrate_collector.php
app/migrate_logos.php
app/migrate10_custcode.php
app/migrate6.php
cleanup_db.php

# Environment & Logs
.env
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# WhatsApp Gateway
wa-gateway/node_modules/
wa-gateway/.wwebjs_auth/
setup_linux.sh
start_wa_gateway.bat
wa-gateway/.wwebjs_cache/
app/sessions/
